libreoffice/4/user
xfce4
Min
dconf
gtk-2.0
htop
inkscape
screengrab
octave
QtProject.conf
mimeapps.list
okularrc
nvim/plugin
lazygit/state.yml
tmux/plugins
lazygit
lazygit/state.yml
nvim/plugin
libreoffice/4
